#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	dibi:
		driver: mysqli
		host: wm38.wedos.net
		database: d18105_xdanube
		username: w18105_xdanube
		password: u75AMjdE
		lazy: TRUE			

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days


	services:
		#connection:
			#class: DibiConnection(%database%)
			
		#authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		baseManager: BaseManager
		article: Article
		category: Category
		journal: Journal


	factories:


production < common:
	dibi:
		driver: mysqli
		host: wm38.wedos.net
		database: d18105_xdanube
		username: w18105_xdanube
		password: u75AMjdE
		charset: utf8
		lazy: TRUE
		
development < common:
	dibi:
		driver: mysqli
		host: wm38.wedos.net
		database: d18105_xdanube
		username: w18105_xdanube
		password: u75AMjdE
		charset: utf8
		lazy: TRUE