@CHARSET "UTF-8";

html {
	margin: 0;
	padding: 0;	
}

body {
	/*background-color: #e4ebed;*/
	background-color: #CFDFEE;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 90%;
	margin: 0;
	padding-bottom: 20px;	
}

h1, h2 {
	text-align: center;
}

h1.title {
	padding: 20px 0 50px 0;
}

h2.title {
	font-size: 150%;
	padding: 10px 0 15px 0;
}

#page {
	width: 800px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
	margin-top: 50px;
	min-height: 1100px;
	background-color: white;
	border-radius: 6px;
}

#middle-page {
	background-color: #EEF5FA;
	min-height: 1000px;
}

p.form {
	margin-bottom: 30px;
}

p.menu {
	font-size: 80%;
	padding: 0 0 5px 8px;
	border-bottom: 1px solid gray;
}

.menu a {
	text-decoration: none;
	color: #3E63BB;
}

.form a {
	background-color: darkblue;
	padding: 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
}

ul.table {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.table a {
	/*color: #A2CBF9;*/
	color: #3E63BB;
	text-decoration: none;
}

ul.table li p.head {
	background-color: white;
	color: #60aafb;
	padding: 20px;
	margin: 0;
	font-weight: bold;
	border-top: 1px solid gray;
}

ul.table li p.thread {
	background-color: rgb(90%,90%,90%);
	padding: 10px 0 10px 20px;
	margin: 0;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 80%;
	border-bottom: 1px solid lightgray;
}

ul.table li span.title {
	display: inline-block;
	width: 300px;
	text-align: left;
}

ul.table li span.count {
	display: inline-block;
	width: 150px;
	text-align: center;
}

ul.table li span.date {
	display: inline-block;
	width: 150px;
	text-align: center;
}

ul.table li span.since {
	display: inline-block;
	width: 150px;
	text-align: center;
}

div.form {
	padding-top: 20px;
}

div.form td {
	padding: 5px;
}

div.form td.top {
	vertical-align: top;
}

div.form td.center {
	vertical-align: center;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

